* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    background-color: indigo;
}

.menu {
    list-style-type: none;
    display: flex;
    margin-top: 100px;
}

nav ul li {
    padding-left: 30px;

}
nav ul li a {
    text-decoration: none;
    color: white;
}

.second-menu {
    list-style-type: none;
    margin-top: -50px;
    margin-left: 50px;
}

.second-menu li {
    padding-top: 30px;
}

.second-menu li a {
    color: black;
    border: 1px solid white;
    background-color: white;
    border-radius: 10%;
    padding: 10px;
}