* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    background-color: indigo;
}

.menu {
    list-style-type: none;
    display: flex;
    margin-top: 100px;
}

.menu li {
    padding-left: 30px;

}
.menu li a {
    text-decoration: none;
    color: white;
}

.second-menu {
    position: relative;
}

.second-menu div {
    position: absolute;
    top: 70px;
    right: -100px;
}

.btn {
    padding: 5px 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.banner {
    position: relative;
}

.banner h1 {
    position: absolute;
    left: 0;
    bottom: 150px;
    color: white;
    background-color: rgba(7, 7, 7, 0.563);
    padding: 40px;
}

#button-candidat {
    position: absolute;
    top: 300px;
    right: 0;
    background-color: rgb(195, 255, 0);
    border-color: rgb(195, 255, 0);
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.carousel-control-next {
    top: 400px !important;
    right: -100px;
}

.carousel-control-prev {
    top: 400px !important;
    left: 1420px;
}